---
interface Props {
  marca: string | null;
  categoria: string | null;
}

const { marca, categoria } = Astro.props as Props;
---

<div class="productos-layout">

  <aside class="productos-aside">
    <slot name="aside" />
  </aside>

  <main class="productos-main">
    <slot />
  </main>

</div>













