NODE_ENV=development
LOG_LEVEL=info

PORT=3000
BACKEND_URL=
FRONTEND_URL=

BD_NOMBRE=
BD_USER=
BD_PASS=
BD_HOST=
BD_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=