---
import AdminLayout from "../../../layouts/AdminLayout.astro";

const API_URL="http://localhost:3000";
---

<AdminLayout title="Nueva Tab">

<h3 class="mb-4">Crear nueva tab</h3>

<form id="formTab">

<input
id="tab-nombre"
name="nombre"
placeholder="Nombre"
class="form-control mb-3"
/>

<input
id="tab-slug"
name="slug"
placeholder="Slug"
class="form-control mb-3"
/>

<input
name="orden"
type="number"
placeholder="Orden"
class="form-control mb-3"
/>

<button class="btn btn-primary">
Guardar
</button>

</form>

<script is:inline>

const nombreInput = document.getElementById("tab-nombre");
const slugInput = document.getElementById("tab-slug");

function generarSlug(texto){

return texto
.toLowerCase()
.trim()
.normalize("NFD")
.replace(/[\u0300-\u036f]/g,"")
.replace(/[^a-z0-9\s-]/g,"")
.replace(/\s+/g,"-")
.replace(/-+/g,"-");

}

nombreInput.addEventListener("input",()=>{

slugInput.value = generarSlug(nombreInput.value);

});

document.getElementById("formTab").addEventListener("submit", async e => {

e.preventDefault();

const form = new FormData(e.target);

const data = {
nombre: form.get("nombre"),
slug: form.get("slug"),
orden: Number(form.get("orden"))
};

await fetch(`${API_URL}/api/producto-tabs`,{

method:"POST",

credentials:"include",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify(data)

});

window.location="/admin/productos/tabs";

});

</script>

</AdminLayout>