---
import Title from "./Title.astro"
import TarjetaCollection from "../ui/tarjetaCollection.astro"
import CollectionCarrusel from "./CollectionCarrusel.astro"
---

<div class="mt-5">
  <Title>Categorias</Title>
  <div class="justify-content-center d-flex">
   <CollectionCarrusel></CollectionCarrusel>
  </div>
</div>