---
export const prerender = false;

import AdminLayout from "../../../layouts/AdminLayout.astro";
import HeroForm from "../../../components/admin/HeroForm.astro";
---

<AdminLayout title="Nuevo Slide Hero">

  <div class="card shadow-sm p-4">
    <HeroForm  />
  </div>

</AdminLayout>




