---
import MarcaForm from "../../components/shared/marca/MarcaForm.astro";
---

<div class="container my-5">
  
  <MarcaForm />
</div>

<script is:inline>
  window.API_URL = "http://localhost:3000";
</script>

<script src="/js/filepondMarca.js" defer></script>
