---
import BarraPrecio from "../ui/BarraPrecio.astro";
import secciones from "../../data/secciones.json";
---

<aside class="col-3 border-end p-3 mt-5">
  <h3 class="h5 mb-3">Seleccione rango de precio</h3>
  <BarraPrecio />

  {secciones.map((seccion) => (
    <div class="mt-4">
      <h3 class="h5">{seccion.titulo}</h3>

      {seccion.categorias && (
       <ul class="list-unstyled ps-3">
  {seccion.categorias.map((cat) => (
    <li>
      <a href="#" class="text-decoration-none">{cat}</a>
    </li>
  ))}
</ul>

      )}

      {seccion.marcas && (
      <ul class="list-unstyled ps-3">
  {seccion.marcas.map((marca) => (
    <li>
      <a href="#" class="text-decoration-none">{marca}</a>
    </li>
  ))}
</ul>

      )}
    </div>
  ))}
</aside>

