---
import CollectionIndex from "../shared/CollectionIndex.astro"
import ProductsIndex from "../shared/ProductsIndex.astro"
import HeroPromocion from "../shared/HeroPromocion.astro"
import HeroTripe from "./HeroTripe.astro"
---

<body>
  <HeroTripe></HeroTripe>
  <CollectionIndex></CollectionIndex>
  <ProductsIndex ></ProductsIndex>
  <HeroPromocion></HeroPromocion>

</body>