---
import BaseLayout from "../BaseLayout.astro";
import "drift-zoom/dist/drift-basic.css";

const {
  title = "Detalle del producto",
  description = "Detalle del producto"
} = Astro.props;
---

<BaseLayout title={title} description={description}>

  <main class="producto-wrapper">
    <div class="producto-container">
      <slot />
    </div>
  </main>

</BaseLayout>

<style>
.producto-wrapper {
  padding-top: 120px;
  padding-bottom: 60px;
}

.producto-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
</style>



