---
import BaseLayout from "../BaseLayout.astro";

const {
  title = "Carrito de compras"
} = Astro.props;
---

<BaseLayout title={title}>

  <main class="carrito-container">
    <h1 class="page-title">{title}</h1>
    <slot />
  </main>

</BaseLayout>




