---
import BaseLayout from "../BaseLayout.astro";
import Buscador from "../../components/ui/Buscador.astro";

const {
  title = "Buscar productos",
  description = "Resultados de búsqueda",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="container mt-4">
    <Buscador />
  </div>

  <main class="container my-5">
    <slot />
  </main>
</BaseLayout>