---
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import ProductoDetalleAdmin from "../../../../components/ui/productos/ProductoDetalleAdmin.astro";

const { id } = Astro.params;
---

<AdminLayout title={`Editar producto #${id}`}>
  <section id="producto-detalle" data-id={id}>
    <ProductoDetalleAdmin id={Number(id)} />
  </section>
</AdminLayout>

