<div class="search-container">
  <input
    type="text"
    placeholder="Buscar productos..."
    class="search-input"
  />
  <button class="search-button" aria-label="Buscar">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>




<script is:client>
  const input = document.querySelector(".search-input");
  const button = document.querySelector(".search-button");

  button.addEventListener("click", () => {
    const q = input.value.trim();
    if (!q) return alert("Escribe algo para buscar");

    window.location.href = `/buscador/buscar?q=${encodeURIComponent(q)}`;
  });

  input.addEventListener("keyup", (e) => {
    if (e.key === "Enter") button.click();
  });
</script>







